# Ignorar archivo de configuración original
src/edu/jdbc/crud/util/conexion_mysql.properties

# Ignorar archivo copiado en carpeta de compilación
bin/edu/jdbc/crud/util/conexion_mysql.properties

# Ignorar clases compiladas
*.class
bin/

# Ignorar carpetas del IDE
/.idea/
/*.iml
/.classpath
/.project
/.settings/

# Ignorar otros archivos temporales
*.log
