# Ignorar archivo sensible de configuración
src/edu/jdbc/crud/util/conexion_mysql.properties

# Ignorar archivos compilados
/bin/

# Ignorar clases compiladas
*.class
bin/

# Ignorar carpetas del IDE
/.idea/
/*.iml
/.classpath
/.project
/.settings/

# Ignorar otros archivos temporales
*.log
